.App {
  text-align: center;
}
a {
  color: blue;
  margin: 0 10px;
}
.delete-button {
  border: 3px solid red;
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.todo-card {
  border: 1px solid white;
    margin: 20px 40px 20px 40px;
    padding: 10px;
    border-radius: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


